PORT=8001
HOST=127.0.0.1
# Optional, defaults to "unknown"
MACHINE_ID=
TOKEN_ENC_KEY=

# We do not provide these binaries directly. Providing is optional if installed inside the 'tools' folder, under their respective default names
# Found at https://github.com/Warthunder-Open-Source-Foundation/wt_ext_cli
WT_EXT_CLI_PATH=
# Found at https://github.com/GaijinEntertainment/DagorEngine
BINBLK_PATH=

# Rate limiting
LOGIN_RATE_LIMIT=5/minute
REGULAR_RATE_LIMIT=30/minute

LOG_LEVEL=INFO